---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedItems: string[];
}

const { currentPage, totalPages, paginatedItems } = Astro.props;
---

<Layout title={`gallery | ${SITE.title}`}>
  <Header activeNav="gallery" />
  <Main pageTitle="gallery" pageDesc="////////...">
    <div class="gallery">
      {
        paginatedItems.length > 0 ? (
          paginatedItems.map(imagePath => (
            <div class="gallery-item">
              <Image
                src={imagePath}
                alt={`Gallery image ${imagePath.split("/").pop()}`}
                width={600}
                height={400}
                loading="lazy"
                format="webp"
                quality={80}
                class="mb-3 w-full rounded"
              />
            </div>
          ))
        ) : (
          <p>No images found in collections.</p>
        )
      }
    </div>
  </Main>
  <Pagination
    currentPage={currentPage}
    totalPages={totalPages}
    prevUrl={`/images${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/images/${currentPage + 1}/`}
  />
  <Footer noMarginTop={totalPages > 1} />
</Layout>

<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  .gallery-item {
    overflow: hidden;
    border-radius: 0.5rem;
    aspect-ratio: 1 / 1;
  }
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .gallery-item img:hover {
    transform: scale(1.05);
  }
</style>
